.rightbarProfileImgContainer{
    margin-right: 10px;
    position: relative;
  }
  .rightbarProfileImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .rightbarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
  }
  .rightbarUsername{
      font-weight: 500;
  }